.css-carousal{
  overflow: hidden;
}

.css-carousal .css-img{
  width: 100%
  max-width: 100%;
  position: absolute;
  opacity:0;
  -webkit-animation-name: css-animation-fade;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
}

.css-carousal .css-img:nth-child(2){
  -webkit-animation-delay:5s;
}

.css-carousal .css-img:nth-child(3){
  -webkit-animation-delay:10s;
}

.drive{
  background-color: pink;
  
}


@-webkit-keyframes css-animation-fade{
  from {opacity:0;}
  5% {opacity: 1;}
  10% {opacity: 1;}
  95% {opacity: .5;}
  stop {opacity: 0;}
}