/*.banner{
  height: 400px;
  background-image: url(img/img2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: -50px;
  z-index: -1;
}*/

.navbar{
  opacity: 0.5;
}



.banner {
  background-image: url(img/img2.jpg);
  /*background-position: 50%;*/
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: 500px;
  max-width: 100%;
  position: relative;
  top: -150px;
  z-index: -1;
}

.banner:before {
  content: "";
  display: block;
  padding-bottom: 50%;
}
.drive{
  background-color: pink;

}

